/* styles.css */

body {
  background-color: hsl(205,100%,80%);
  font-family: Times New Roman, Verdana, san-serif;
}

.heading {
  background-color: rgb(255,125,0);
  font-family: Calibri, Arial, sans-serif;
}
